.ac-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.ac-content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    max-width: 1163px;
}

@media screen and (max-width: 900px) {
    .ac-content {
        max-width: none;
        width: 90%;
    }
}