.mv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.mv-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1263px;
}

.mv-intro-tekst-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mv-intro-tekst-container h3 {
    background: linear-gradient(0deg, #9a7bf7 15%, #b085f2 50%, #d39eff 75%, #b0a5ff 90%, #7fa3ff 110%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 48px;
    margin: 0;
}

.intro-tekst-2 {
    color: black;
    font-size: 18px;
    margin: 10px 0;
}

.intro-tekst-disclaimer {
    color: black;
    font-size: 10px;
    margin: 0;
}

.mv-intro-graphic {
    margin-top: 50px;
    animation: slideUp 1.3s ease-out forwards;
    animation-delay: .3s;
    opacity: 0;
}

/* Effekt for å få noe til å komme opp fra bunnen */
@keyframes slideUp {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}