.mv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.mv-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1263px;
}

.mv-intro-tekst-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mv-intro-tekst-container h3 {
    background: linear-gradient(0deg, #7bc1f7 15%, #4da4e7 50%, #0da6ec 75%, #a5beff 90%, #103eb2 110%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 48px;
    font-weight: 450;
    margin: 0;
}

.intro-tekst-2 {
    color: black;
    font-size: 18px;
    padding: 0 20px;
    margin: 10px 0;
}

.intro-tekst-disclaimer {
    color: black;
    font-size: 14px;
    margin: 0;
}

.mv-intro-graphic {
    margin-top: 50px;
    animation: slideUp 1.3s ease-out forwards;
    animation-delay: .3s;
    opacity: 0;
}

/* Effekt for å få noe til å komme opp fra bunnen */
@keyframes slideUp {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Mv perks */

.mv-perks {
    z-index: 3;
    margin-top: 0;
}

.mv-perks {
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mv-perks-content {
    margin: 60px 0;
    width: 100%;
    max-width: 1263px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.mv-perk {
    border-radius: 8px;
    padding: 10px;
}

.mv-perk svg {
    width: 20px;
    height: 20px;
}

.mv-perk h3 {
    margin: 5px 0 0 0;
    color: rgba(0, 0, 0, .7);
    font-size: 18px;
    font-weight: 500;
}

.mv-perk p {
    color: #666;
    font-size: 16px;
    margin: 5px 0 10px 0;
}

/* Bts */

.mv-bts {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mv-bts-content {
    width: 100%;
    max-width: 1263px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bts-title {
    background: linear-gradient(90deg, #ff8fa3 10%, #d884f5 40%, #8a92ff 70%, #4f6dff 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 24px;
    margin: 0;
}

.bts-description {
    text-align: center;
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    margin-top: 10px;
}

.mv-bts-products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    .mv-section {
        max-width: none;
    }

    .mv-intro-tekst-container h3 {
        font-size: 24px;
    }

    .intro-tekst-2 {
        font-size: 16px;
    }

    .mv-perks-content {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    .mv-bts-content {
        max-width: none;
    }

    .bts-title {
        font-size: 20px;
        text-align: center;
    }

    .bts-description {
        width: 90%;
    }

    .mv-bts-products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}