.ordering-view-container {
    color: black;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ordering-header-container > * {
    color: black;
}