.minimal-order-container {
    color: #333;
    width: 100%;
    max-width: 1263px;
    margin-bottom: 50px;
}

.final-order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.minimal-order-details {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.order-product-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.order-product-image img {
    width: 150px;
    height: auto;
    border-radius: 6px;
    margin-right: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.order-product-info {
    margin-top: -20px;
}

.order-product-info h4 {
    font-size: 20px;
    color: #222;
    margin-bottom: 5px;
}

.product-description {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

.product-rating {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.minimal-order-total p {
    text-align: left;
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 20px;
}

.overview-greeting {
    margin: 0 0 -5px 0;
}

.overview-info-container {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .minimal-order-container {
        max-width: none;
        width: 90%;
    }
}