.order-overview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Order Overview */
.order-overview {
    max-width: 1123px;
    width: 100%
}

.order-overview h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Order top information */

.overview-info-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 30px 0;
}

.overview-info-container div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.overview-info-container svg {
    width: 20px;
    height: 20px;
    margin: -1px 0 0 0;
}

.overview-info-container h2 {
    margin: 0;
    font-size: 1.4rem;
}

.overview-info-container p {
    font-size: 14px;
    margin: 5px 0;
}


/* Section Styling */
.section {
    margin-bottom: 60px;
}

.product {
    display: flex;
    align-items: center;
}

.product img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 6px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-info p {
    margin: 5px 0;
    color: #666; /* Lighter gray for product info text */
}

.product-info p strong {
    color: #333; /* Stronger color for labels */
}

/* Form Section */

.overview-title {
    font-size: 20px;
    color: rbga(0, 0, 0, .7);
}

.info-group p {
    margin: 3px 0;
}

/* Price and Order Summary */
.discount-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

.price-container p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.discount-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: -40px 0 -20px 0;
}

.discount-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

.discount-input {
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc; /* Light gray border for input */
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 0;
}

.apply-button {
    padding: 10px 20px;
    background-color: #333; /* Dark button for a clean, bold look */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #555; /* Slightly lighter on hover */
}

.message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 10px;
}

/* Place Order Button */
button.apply-button {
    background-color: #0A84FF;
    border-radius: 24px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

button.apply-button svg {
    width: 18px;
    height: 18px;
}

button.apply-button:hover {
    background-color: #0272e2;
    cursor: pointer;
}
