/* Product Detail Container */
.product-detail-view-total-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

/* Image Section */
.product-detail-view-content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: -40px;
    width: 100%;
    max-width: 1100px;
}

.product-detail-view-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information Section */
.product-detail-view-information {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 60%;
}

.product-detail-view-name {
    font-size: 1.8rem;
    font-weight: 400;
    color: #222;
    margin-bottom: 0;
    margin-top: 0;
}

.product-detail-view-product-category {
    margin: 0;
    opacity: .6;
    font-size: 15px;
}

.product-detail-view-stars {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 0;
    width: 100%;
    margin-top: -10px;
}

.number-of-ratings {
    font-size: 0.9rem;
    color: #888;
}

.product-detail-view-price {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.product-detail-view-description {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-availability {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-availability svg {
    width: 20px;
    height: 20px;
    opacity: 1;
}

.favorite-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, .1);
    background-color: white;
    padding: 8px 20px;
}

.favorite-btn:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.favorite-btn svg {
    width: 16px;
    height: 16px;
}

/* Perks */

.product-perks {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.product-perks li {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 3px 0;
}

.product-perks li svg {
    width: 14px;
    height: 14px;
    margin-top: -3px;
}

.perk-span {
    color: #0A84FF;
}

/* pdv-section */

.pdv-section {
    background-color: #fafafa;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pdv-section-content {
    width: 100%;
    max-width: 1100px;
    margin: 20px 0;
}

.pdv-section-content h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: -5px;
}

.pdv-section-content p {
    font-size: 1rem;
    color: #666;
}

.pdv-section-content li {
    font-size: 1rem;
    color: #666;
    margin: 3px 0;
}

/* Add to Cart Section */
.product-add-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-detail-view-button {
    background-color: #231F20;
    color: #fff;
    border: none;
    padding: 13px 20px;
    font-size: .9rem;
    margin-left: -15px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.product-detail-view-button svg {
    width: 18px;
    height: 18px;
    margin: -2px 0 0 0;
}

.product-detail-view-button:hover {
    background-color: #1f1f1f;
}

.amount-input {
    width: 50px;
    height: 24px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    outline: none;
}

/* Reviews Section */
.product-detail-view-product-ratings-container {
    margin: 0;
    background-color: #ffffff;
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.product-detail-view-product-ratings h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 0;
    text-align: left;
}

.product-detail-view-product-ratings {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 1100px;
    width: 100%;
}

/* Split */

.product-info-split {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    height: 100%;
}

/* Recommendations */

.product-detail-view-recommendations {
    width: 100%;
    max-width: 1263px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-detail-view-recommendations-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
    margin-top: 40px;
}

.recommendations-grid {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0 -20px;
}

/* Responsive */
@media screen and (max-width: 900px) {
    .product-info-split {
        flex-direction: column;
    }

    .product-detail-view-recommendations {
        max-width: none;
    }

    .recommendations-grid {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .product-detail-view-content {
        width: 90%;
    }

    .product-detail-view-information {
        width: 100%;
    }

    .product-detail-view-description {
        width: 100%;
    }

    .product-detail-view-image-container {
        width: 100%;
    }

    .pdv-section-content {
        max-width: none;
        width: 90%;
    }

    .product-detail-view-product-ratings-container {
        max-width: none;
        width: 90%;
    }
}