/* Product Detail Container */
.product-detail-view-total-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

/* Image Section */
.product-detail-view-content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1263px;
}

.product-detail-view-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-detail-view-product-image {
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
}

/* Information Section */
.product-detail-view-information {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 50%;
}

.product-detail-view-name {
    font-size: 1.8rem;
    font-weight: 400;
    color: #222;
    margin-bottom: 0;
    margin-top: 0;
}

.product-detail-view-product-category {
    margin: 0;
    opacity: .6;
    font-size: 15px;
}

.product-detail-view-stars {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: -10px;
}

.number-of-ratings {
    font-size: 0.9rem;
    color: #888;
}

.product-detail-view-price {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.product-detail-view-description {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-availability {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #2b9b62;
}

.product-availability svg {
    width: 20px;
    height: 20px;
    opacity: 1;
}

/* Perks */

.product-perks {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.product-perks li {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 3px 0;
}

.product-perks li svg {
    width: 14px;
    height: 14px;
    margin-top: -3px;
}

.perk-span {
    color: #0A84FF;
}

/* Add to Cart Section */
.product-add-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-detail-view-button {
    background-color: #231F20;
    color: #fff;
    border: none;
    padding: 13px 20px;
    font-size: .9rem;
    margin-left: -15px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.product-detail-view-button svg {
    width: 18px;
    height: 18px;
    margin: -2px 0 0 0;
}

.product-detail-view-button:hover {
    background-color: #1f1f1f;
}

.amount-input {
    width: 50px;
    height: 24px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    outline: none;
}

/* Reviews Section */
.product-detail-view-product-ratings-container {
    margin: 0;
    background-color: #fcfcfc;
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.product-detail-view-product-ratings h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    margin: 0;
    text-align: left;
}

.product-detail-view-product-ratings {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 1263px;
    width: 100%;
}

.review-block {
    padding: 15px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.review-block p {
    font-size: 0.95rem;
    color: #666;
    margin-top: 10px;
}

.review-block .stars {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.review-block .stars span {
    color: #f39c12;
}

/* Split */

.product-info-split {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    height: 100%;
}

/* Recommendations */

.product-detail-view-recommendations {
    border-top: 1px solid #eee;
    margin-top: 30px;
    width: 100%;
    max-width: 1263px;
}

.product-detail-view-recommendations-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
}

.recommendations-grid {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 -20px;
}

/* Responsive */
@media (max-width: 768px) {
    .product-detail-view-content {
        flex-direction: column;
        align-items: center;
    }

    .product-detail-view-image-container {
        margin-bottom: 20px;
    }

    .product-detail-view-name {
        text-align: center;
    }

    .product-detail-view-price {
        text-align: center;
    }
}