.header-container {
    background-color: #231F20;
    margin: 0 0 0 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    margin: 0 15px;
    max-width: 1263px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-logo {
    width: 30px;
    margin: 0 20px -3px -5px;
}

.header-links {
    margin-top: -3px;
}

.header-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 400;
}

.header-links a:hover {
    text-decoration: white underline;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right a svg {
    width: 20px;
    height: 20px;
    color: white;
}