
/* Form Groups */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Terms Section */
.terms-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

#terms-and-conditions {
    width: 15px;
    height: 15px;
}

.terms-text a {
    color: #0A84FF;
    text-decoration: none;
}

.terms-text a:hover {
    color: #0272e2;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 16px;
    color: rgba(0, 0, 0, .9);
    margin-bottom: 5px;
    margin-top: 10px;
}

.form-input {
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 10px;
}

/* Submit Button */
button[type="submit"] {
    background-color: #0A84FF;
    border-radius: 24px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

button[type="submit"] svg {
    width: 18px;
    height: 18px;
}

button[type="submit"]:hover {
    background-color: #0272e2;
    cursor: pointer;
}
