.product-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #ddd;
    background-color: white;
    justify-content: space-between; /* Sikrer at innholdet sprer seg */
    width: 99.5%;
    margin: 0 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    border: 1px solid #0A84FF;
}

.product-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product-title {
    display: block;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
    color: #000;
    text-decoration: none;
    word-break: break-word;
    font-weight: 400;
    padding: 0 10px;
}

.product-title:hover {
    color: #0A84FF;
    cursor: pointer;
}

.rating-container {
    font-size: 13px;
    margin: 0 0 8px 0;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    color: rgba(0, 0, 0, .5);
}

.rating-container svg {
    width: 14px;
    height: 14px;
}

.product-description {
    margin: 15px 10px;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
    font-weight: 400;
}

.product-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    color: #000;
    margin-left: 10px;;
}

.product-bottom {
    background-color: #fafafa;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-add-button {
    background-color: #0A84FF;
    border-radius: 24px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.product-add-button:hover {
    background-color: #0272e2;
    cursor: pointer;
}

.product-details p:nth-child(2) {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}

/* Optional: Add media query for responsiveness */
@media screen and (max-width: 768px) {
    .product-card {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
    }
}