.top-container {
    background-color: #fdfdfd;
    width: 100%;
    padding: 0;
    height: 35px;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.top-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0;
    max-width: 1263px;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.top-section a {
    color: #000;
    text-decoration: none;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 400;
}

.top-links a:hover {
    text-decoration: #000 underline;
}

.top-location {
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.top-location:hover {
    text-decoration: none;
    color: #0A84FF;
}

.top-copyright {
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 125px;
    padding-right: 10px;
}

.top-ham-btn {
    display: none;
    font-size: 2rem;
    width: 25px;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}

.top-ham-btn svg {
    color: #000000;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 900px) {
    .top-copyright {
        display: none;
    }

    .top-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #ffffff;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 520;
    }

    .top-content {
        max-width: none;
        margin: 0 20px;
    }

    .top-links.open {
        display: flex;
    }

    .top-links a {
        padding: 20px 0;
        gap: 10px;
        margin: 0;
        width: 90vw;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .top-ham-btn {
        display: block;
    }
}