.up-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.up-content {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    max-width: 1163px;
    margin: 0;
}

.up-top {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
}

.up-top-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.up-top img {
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

.up-top-name {
    margin: 0;
    text-align: start;
    width: 100%;
    font-size: 24px;
}

.up-top-email {
    text-align: start;
    width: 100%;
    line-height: 170%;
    font-size: 16px;
    margin: 0;
}

/* log out btn */

.log-out-btn-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;
    margin-bottom: 30px;
    margin-top: -20px;
}

.log-out-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: 8px 20px;
    font-size: 14px;
    color: #000;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, .1);
}

.log-out-btn:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

.log-out-btn svg {
    width: 16px;
    height: 16px;
}